.container {
  width: 890px;
}

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

#scroll_img{
margin-left:2.5cm;
opacity: 0.20;
}
.step {
  margin-bottom: 300px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  margin-left: 0;
  /*height: 600px; 
  width: 600px; 
  background-color: #ddd
  */
}

#vis .title {
  font-size:100px;
  text-anchor: middle;
  z-index:20
}

#vis .sub-title {
  font-size:45px;
  text-anchor: middle;
  stroke: #eee;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  /*fill: #008080;*/
  fill: #55acee;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

.twitter-tweet {
    opacity:0;
  /*
    display: none;
    z-index: -1
    */
}

.text.xAxis2{
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 12px;
  line-height: 23px;
  fill: #767678;
  text-anchor:end
}
.histNum{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #333;
  font-size: 10px;
}
